@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
        /* max-width: 75%;
    width: 75%;
    margin: auto; */
    }
    
    #heading {
        margin: auto;
        font-weight: 500;
        text-align: center;
        background-color: #f4f773;
        padding: 2rem 3rem;
        margin-bottom: 1rem;
        box-shadow: 5px 10px 8px rgb(102, 102, 84);
        border-bottom-left-radius: 5rem;
        border-bottom-right-radius: 5rem;
        color: rgb(13, 0, 133);
    }
    
    #heading p {
        text-align: start;
        font-size: 1.5rem;
        margin-top: 0;
        padding: 0 0;
    }
    
    #heading h1 {
        font-size: 2rem;
        
    }
    
    h1 img {
        position: absolute ;
        top: 48px;
       
    }
    
    .btn {
        border-radius: 49px;
        background: #00ffff;
        box-shadow: 28px 28px 56px #00e0e0, -28px -28px 56px #00ffff;
        margin: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: #f4ff58;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: 5px 10px 8px rgb(66, 39, 39);
        border: none;
        font-size: 1rem;
        color: rgb(0, 2, 145);
    }
    
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .banana-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        max-width: 400px;
    }
    
    div,
    textarea {
        margin: 2rem;
        width: 70%;
        height: 200px;
        padding: 1rem 2rem;
        box-sizing: border-box;
        border-radius: 1rem;
        border: none;
        font-size: 1.4rem;
        background-color: rgb(250, 242, 200);
        box-shadow: 5px 10px 8px rgb(51, 45, 45);
    }
    
    p {
        margin-top: 1rem;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 0 1rem;
        text-align: center;
    }
    
     ::placeholder {
        color: #5c6b8b;
        font-size: 1.4rem;
    }
    
    footer {
        background-color: #f4f773;
        padding: 2rem 0rem;
        margin-top: 3rem;
        border-top-right-radius: 5rem;
        border-top-left-radius: 5rem;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        box-shadow: 0px 10px 5px rgb(17, 1, 112), 0px -10px 5px #ccc;
        color: rgb(11, 3, 116);
    }
    
    footer i {
        color: rgb(0, 9, 134);
        font-size: 30px;
        margin: 1rem;
    }
    
    footer p {
        color: #030b75;
        font-size: inherit;
        margin: 0;
    }
    
    .links {
        text-decoration: none;
        color: var(--button-text-color);
    }
    
    .links li {
        list-style-type: none;
    }
    
    .footer-list {
        display: flex;
        margin: auto;
        width: 24%;
        list-style-type: none;
        align-items: center;
    }
    
    @media screen and (max-width: 700px) {
        .footer-list {
            width: 100%;
            padding-left: 1rem;
        }
    }